//$GLOBAL Carga todos los recursos requeridos y los compila en un único archivo

// config
@import 'base/config'
//resets
@import 'base/elements/index'

// Components
@import 'base/components/queries'
@import 'base/components/event_form'
@import 'base/components/details-car'
@import 'base/components/checkin_form'
@import 'base/components/events'
@import 'base/components/header'
