/*=================================
========== form ===========
=================================*/

.c-title
	color: $base-color-light
	padding: 2rem 4rem
	text-align: center


.c-form-search
	display: flex
	justify-content: center
	align-items: center
	margin: 2rem 0
form p
	font-size: $text-size.normal-3
	color: $base-color
	font-weight $normal
	margin-bottom: 0

input
	font-size: $text-size.normal-2
	width: 100%
	border-radius: 5px
	background-color: $base-color-light
	border: 3px solid #000000
	transition: .7s ease
	padding-left: 1rem
	&:nth-child(8)
		margin-bottom: 1rem
	&:focus
		border: 3px solid #33ff99
		box-shadow: 0 0 5px 5px rgba(#33ff99,.4)
	&:visited
		border 3px solid #e03333
		box-shadow: 0 0 5px 5px rgba(#ff0000,.4)

.c-form-plate
	width: 30rem
	padding: 1rem
	margin-right: 1rem
	text-align: center
	font-size: $text-size.large-2
	text-transform: uppercase
	color: $base2-color

button.c-form-submit, .c-form-submit-litle
	display: block
	border-radius: 10px
	border: .4rem solid #39FF9A
	background-color: #222a2e
	color: $base-color
	font-weight: 500
	font-size: $text-size.normal-3
	padding: 1.5rem 4rem
	& i
		vertical-align: middle
		color: $base-text-color-bold
.center
	margin: 0 auto

.c-title-form
	color: $base-color-light
	font-size: $text-size.normal-3
	padding: 2rem 0 0
	text-align: center
	line-height: normal
	.h2
		margin-bottom: 1rem
	p
		color #33ff99
		font-weight: 500
		font-size: $text-size.normal
.c-form-submit-litle
	padding: 1rem 2rem
	margin: 1rem auto

.c-form-password
	display: flex

/*=================================
======= end form ==========
=================================*/
