
li.close(class={active_page: page == '/events'})
	a(href="/checkin/search") Registrar Vehículo#[i.icon-car]

li.close(class={active_page: page == '/register'})
	a(href="/register") Registrar Empleado#[i.icon-user-plus]

li.close(class={active_page: page == '/login'})
	a(href="/login") Iniciar Sesión#[i.icon-user-check2]
